{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
 
  
    <script src="{% static 'js/script.js' %}" defer></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Discover HBCUs</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'js/script.js' %}" />
  <!-- <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" /> -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>


<body>
  <div>
    {% block content %}
     
    {% endblock %}

  </div>
 <script src="{% static 'schools.js' %}"></script>  


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="custom.js"></script>



</body>
</html>

