{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <title>HBCU 4 U</title>
  
  <script src="{% static 'js/script.js' %}" defer></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Discover HBCUs</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />

</head>


<body class="sans-serif pv3 ph2 bg-light-red">
  <div class="mw9 center">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>

