.main {
  display: flex;
  text-align: center;
  flex-flow: space-around;
}
h1 {
  text-align: center;
  color: rgb(238, 101, 16);
  text-shadow: 3px 3px 5px white;
}

section {
  width: 30%;
  font-size: 150%;
}
a.main {
  width: 30%;
  font-size: 100%;
}
.mapicon {
  position: fixed; 
  bottom: 10px; 
  right: 15px;
}

.first-letter {
  font-size: 45px;
  line-height: 70px;
}

body {
  background: white;
}
a {
  text-align: center;
  color: black;
}
.intro {
  background: rgb(227, 100, 20);
  text-align:justify;
  border-bottom-left-radius: 10%;
  border-top-right-radius: 10%;
  color: white;
  width: 45%;
  padding: 1rem;
  border-width: 10px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      red, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}
.filter {
  position: relative;
  background-color: rgb(164, 172, 164);
  border: none;
  font-size: 20px;
  color: rgb(218, 11, 11);
  padding: 10px;
  width: 100%;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: 20%;
}
.filter:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.filter:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.filter:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

p{
  display:flex;
  flex-flow: row wrap; 
  /* background-color: white; */
  text-align: center;
}

.display{
  display:flex;
  flex-flow: row wrap;
  color:blueviolet;
  font-size: 36px;
  background-color: white;
  text-align: center;
}

#customer-list{
  display:flex;
  flex-flow: row wrap; 
  align-content: space-around;
  width: 2000px;
  border: black 2px dotted;
  text-align: center;
  background-color: lightgrey;
}


/* List of Colleges Page */
.subtitle {
  font-size:20px;
  color: white;
}
a {
  font-size:14px;
}
a.add {
  color: white;
  font-size: 20px;
  text-align: center;
}
.everything {
  display: flex;
  flex-wrap: wrap; 
  flex-direction: row;
  justify-content: space-around;
  
}
.flex {
  display: flex;
  flex-wrap: wrap; 
  flex-direction: row;
  justify-content: space-around;
  color: white;
  border: 2px solid rgb(128, 124, 106);
  width: 300px;
  /* height: 100px; */
  border-radius: 75%;
  background:rgb(218, 6, 6);
  text-align: justify;
  text-justify: inter-word;
  box-shadow: 0 0 5px 5px #141414;
}
img.list {
  border-radius: 75%;
  background: white;
}
h2 {
  text-align: center;
  color: rgb(27, 31, 28);
  background: white;
  border-radius: 10%;
  font-size: 30px;
  /* width: 400px; */
  word-spacing: 5px;
  font-family: "Architects Daughter";
  text-shadow: 2px 1px #3a6e46;
  
}

h4 {
  text-align: center;
  color:  rgb(134, 121, 134);
  /* background: rgb(236, 146, 113); */
  /* border-radius: 5%; */
  font-size: 18px;
  /* width: 350px;
  height: 125px; */
  align-items: center;
  word-spacing: 5px;
  line-height: .75;
  font-family:Goudy Old Style;
  border-radius: 75%;

}
/* Detail Page  */
.detail {
  display: flex;
  flex-wrap: wrap; 
  flex-direction: row;
  justify-content: space-around;
  color: white;
  border: 2px solid rgb(199, 166, 18);
  width: 90%;
  height: 95%;
}

img.detail_logo {
  position: fixed; 
  bottom: 10px; 
  right: 15px;
}
h3 {
  line-height: 0.5cm;
  text-align: center;
}
a.schoolanchor {
  text-align: center;
}
h2.cname {
  letter-spacing: 0.0625em;
}

/* Search Bar */
/* Add a black background color to the top navigation bar */
  #searchbar{ 
     margin-left: 15%; 
     padding:15px; 
     border-radius: 10px; 
   } 
 
   input[type=text] { 
      width: 30%; 
      -webkit-transition: width 0.15s ease-in-out; 
      transition: width 0.15s ease-in-out; 
   } 
 
   /* When the input field gets focus, 
        change its width to 100% */
   input[type=text]:focus { 
     width: 70%; 
   } 
 
  #list{ 
    font-size:  1.5em; 
    margin-left: 90px; 
   } 
 
.animals{ 
   display: list-item;     
  }
  
* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
  width: 100%;
  /* position: fixed; Fixed topbar (stay in place on scroll) */
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: rgb(112, 72, 18);
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:rgb(0, 10, 0); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* Carousel */
html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}
/* size of images */
#container {
	width: 40%;
	height: 600px;
	margin: 0 auto;
}

.slide-gfx img {
	border-radius: 20px;
	box-shadow: 0 0 75px rgba(255,255,255,1);
	width: 100%;
	height: 300px;
	display: run-in;
  position: relative;
}

.css-slider-mask {
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.css-slider {
	list-style: none;
	margin: 0;
	padding: 0;
	display: none;
	width: 96%;
	height: 100%;
	margin-left: 2%;
	z-index: 1;
}

.css-slider {
	position: relative;
	display: none;
}

body:nth-child(2) .css-slider {
	display: block;
}

.css-slider .slide {
	display: block;
	position: absolute;
	left: 40px;
	top: 0;
	right: 0;
	bottom: 0;
	padding-left: 0;
	padding-right: 40px;
	z-index: 100;
	outline: 0;
}

.css-slider .slide {
	background: url('http://www.virtualinkdesign.com/images/arrow-right.svg') no-repeat right center;
	background-size: 25px auto;
}

.css-slider .slide:hover {
	background-image: url('http://www.virtualinkdesign.com/images/arrow-right-hover.svg');
	cursor: pointer;
}

.css-slider .slide:target,
.css-slider .slide:target:hover,
.css-slider .slide:focus,
.css-slider .slide:focus:hover,
.css-slider .slide:last-child,
.css-slider .slide:last-child:hover {
	left: 40px;
	right: 40px;
	padding-left: 0;
	padding-right: 0;
	background: transparent;
	z-index: 101;
	cursor: default;
}

.css-slider .slide:target ~ .slide,
.css-slider .slide:focus ~ .slide {
	padding-left: 40px;
	padding-right: 0;
	left: 0;
	right: 40px;
}

.css-slider .slide:target ~ .slide,
.css-slider .slide:focus ~ .slide {
	background: url('http://www.virtualinkdesign.com/images/arrow-left.svg') no-repeat left center;
	background-size: 25px auto;
}

.css-slider .slide:target ~ .slide:hover,
.css-slider .slide:focus ~ .slide:hover {
	background-image: url('http://www.virtualinkdesign.com/images/arrow-left-hover.svg');
}

.css-slider .slide .slide-outer {
	display: none;
	width: 100%;
	height: 100%;
}

.css-slider .slide .slide-outer .slide-inner {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 100%;
	height: 100%;
}

.css-slider .slide .slide-outer .slide-inner .slide-gfx {
	position: relative;
	display: inline-block;
}

.css-slider .slide:target .slide-outer,
.css-slider .slide:focus .slide-outer,
.css-slider .slide:last-child .slide-outer {
	display: block;
	display: table;
}

.css-slider .slide:target ~ .slide:last-child,
.css-slider .slide:focus ~ .slide:last-child {
	cursor: pointer;
}

.css-slider .slide:target ~ .slide:last-child .slide-outer,
.css-slider .slide:focus ~ .slide:last-child .slide-outer {
	display: none;
}

.css-slider .slide .slide-outer .slide-gfx {
	z-index: 102;
	text-align: left;
}

.css-slider .slide:target ~ .slide:nth-child(1),
.css-slider .slide:focus  ~ .slide:nth-child(1) { z-index:99; }
.css-slider .slide:target ~ .slide:nth-child(2),
.css-slider .slide:focus  ~ .slide:nth-child(2) { z-index:98; }
.css-slider .slide:target ~ .slide:nth-child(3),
.css-slider .slide:focus  ~ .slide:nth-child(3) { z-index:97; }
.css-slider .slide:target ~ .slide:nth-child(4),
.css-slider .slide:focus  ~ .slide:nth-child(4) { z-index:96; }
.css-slider .slide:target ~ .slide:nth-child(5),
.css-slider .slide:focus  ~ .slide:nth-child(5) { z-index:95; }

.css-slider .slide .slide-outer {
	display: block !important;
	display: table !important;
}

.css-slider .slide .slide-outer {
	-webkit-transition-property:        opacity, -wekbit-transform;
	-moz-transition-property:           opacity, -moz-transform;
	-ms-transition-property:            opacity, -ms-transform;
	-o-transition-property:             opacity, -o-transform;
	transition-property:                opacity, transform;
	-webkit-transition-duration:        2s;
	-moz-transition-duration:           2s;
	-ms-transition-duration:            2s;
	-o-transition-duration:             2s;
	transition-duration:                2s;
	-webkit-transition-timing-function: ease;
	-moz-transition-timing-function:    ease;
	-ms-transition-timing-function:     ease;
	-o-transition-timing-function:      ease;
	transition-timing-function:         ease;
}

.css-slider .slide:target ~ .slide .slide-outer,
.css-slider .slide:target ~ .slide:last-child .slide-outer,
.css-slider .slide:focus ~ .slide .slide-outer,
.css-slider .slide:focus ~ .slide:last-child .slide-outer {
	-webkit-transform: translate(-150%,0); -webkit-transform: translate3D(-150%,0,0);
	-moz-transform:    translate(-150%,0); -moz-transform:    translate3D(-150%,0,0);
	-ms-transform:     translate(-150%,0); -ms-transform:     translate3D(-150%,0,0);
	-o-transform:      translate(-150%,0); -o-transform:      translate3D(-150%,0,0);
	transform:         translate(-150%,0); transform:         translate3D(-150%,0,0);
}

.css-slider .slide .slide-outer {
	-webkit-transform: translate(200%,0); -webkit-transform: translate3D(200%,0,0);
	-moz-transform:    translate(200%,0); -moz-transform:    translate3D(200%,0,0);
	-ms-transform:     translate(200%,0); -ms-transform:     translate3D(200%,0,0);
	-o-transform:      translate(200%,0); -o-transform:      translate3D(200%,0,0);
	transform:         translate(200%,0); transform:         translate3D(200%,0,0);
}

.css-slider .slide:target .slide-outer,
.css-slider .slide:focus .slide-outer,
.css-slider .slide:last-child .slide-outer {
	-webkit-transform: translate(0,0); -webkit-transform: translate3D(0,0,0);
	-moz-transform:    translate(0,0); -moz-transform:    translate3D(0,0,0);
	-ms-transform:     translate(0,0); -ms-transform:     translate3D(0,0,0);
	-o-transform:      translate(0,0); -o-transform:      translate3D(0,0,0);
	transform:         translate(0,0); transform:         translate3D(0,0,0);
}

.css-slider .slide {
	-webkit-transition-property:        left, padding-left;
	-moz-transition-property:           left, padding-left;
	-ms-transition-property:            left, padding-left;
	-o-transition-property:             left, padding-left;
	transition-property:                left, padding-left;
	-webkit-transition-duration:        1s;
	-moz-transition-duration:           1s;
	-ms-transition-duration:            1s;
	-o-transition-duration:             1s;
	transition-duration:                1s;
	-webkit-transition-timing-function: ease;
	-moz-transition-timing-function:    ease;
	-ms-transition-timing-function:     ease;
	-o-transition-timing-function:      ease;
	transition-timing-function:         ease;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.css-slider .slide-inner {
	-webkit-animation:           css-slideshow-fade-in 2s;
	-moz-animation:              css-slideshow-fade-in 2s;
	-ms-animation:               css-slideshow-fade-in 2s;
	-o-animation:                css-slideshow-fade-in 2s;
	animation:                   css-slideshow-fade-in 2s;
	-wekbit-animation-delay:     1s;
	-moz-animation-delay:        1s;
	-ms-animation-delay:         1s;
	-o-animation-delay:          1s;
	animation-delay:             1s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode:    forwards;
	-ms-animation-fill-mode:     forwards;
	-o-animation-fill-mode:      forwards;
	animation-fill-mode:         forwards;
	opacity: 0;
}

.css-slider .slide-gfx {
	-webkit-animation:           css-slideshow-fade-in 2s;
	-moz-animation:              css-slideshow-fade-in 2s;
	-ms-animation:               css-slideshow-fade-in 2s;
	-o-animation:                css-slideshow-fade-in 2s;
	animation:                   css-slideshow-fade-in 2s;
	-wekbit-animation-delay:     1s;
	-moz-animation-delay:        1s;
	-ms-animation-delay:         1s;
	-o-animation-delay:          1s;
	animation-delay:             1s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode:    forwards;
	-ms-animation-fill-mode:     forwards;
	-o-animation-fill-mode:      forwards;
	animation-fill-mode:         forwards;
	display: inline-block !important;
	opacity: 0;
}

@-webkit-keyframes css-slideshow-fade-in { from { opacity: 0; } to { opacity: 1; } }
@-moz-keyframes css-slideshow-fade-in    { from { opacity: 0; } to { opacity: 1; } }
@-ms-keyframes css-slideshow-fade-in     { from { opacity: 0; } to { opacity: 1; } }
@-o-keyframes css-slideshow-fade-in      { from { opacity: 0; } to { opacity: 1; } }
@keyframes css-slideshow-fade-in         { from { opacity: 0; } to { opacity: 1; } }

.css-slider .slide-gfx > *:first-child {
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.9, transparent), to(white));
}

.css-slider .slide-gfx:after {
	content: '';
	position: absolute;
	mask: url("#mask");
	display: block;
	transform: scaleY(-1);
	opacity: 0.5;
	top: 100%;
	width: 100%;
	height: 60px;
	z-index: 200;
	margin-top: 2px;
}

.css-slider #s1:after { background: -moz-element(#s1) no-repeat left bottom; }
.css-slider #s2:after { background: -moz-element(#s2) no-repeat left bottom; }
.css-slider #s3:after { background: -moz-element(#s3) no-repeat left bottom; }
.css-slider #s4:after { background: -moz-element(#s4) no-repeat left bottom; }
.css-slider #s5:after { background: -moz-element(#s5) no-repeat left bottom; }



/* Individual College Pages */
.detailanchor {
  text-align: center;
  color: rgb(241, 134, 11);
}