{% extends "base.html" %}

{% block content %}

    <h1><strong>HBCU into the FUTURE</strong></h1>


  <div class="everything">
          
          {% for university in universities %}
          <div class="flex">
          
          <h2> "{{ college.name }}" </h2>

          <h4>Located In: {{ college.city }} , {{ college.state }}</h4>

          <img src="{{ college.image_url }}" height='200' width='250'>
          
          </div>

          <br>
          {% endfor %}
       
  </div>

{% endblock %}
