{% extends "base.html" %}
{% load static %}
<h1>About page</h1>
{% block content %}

<div class="about-section">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/w3images/team1.jpg" alt="Nichole" style="width:100%">
      <div class="container">
        <h2>Nichole Ross</h2>
        <p class="title">Software Developer</p>
        <p>Software Developer momentum@morehouse</p>
        <p>thisnicholematters@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/images/Bishara2.jpg" alt="Bishara" style="width:100%">
      <div class="container">
        <h2>Bishara Abdul-Hamid</h2>
        <p class="title">Software Developer</p>
        <p>I decided to pursue software development and enroll in Momentum@Morehouse because my interests are in determining what resources of engagement are available and how we can address culture, within a technological context, in a new and fresh way. In addition, I was inspired to enroll in Momentum@Morehouse coding bootcamp and continuing technology education program as it closely networks my abilities to use creativity and an interdisciplinary approach to the art and science of software development. My experiences in the Global Information Technology sector have taught me that critical-thinking skills are essential attributes of twenty-first-century global citizens. These skills are crucial in all communities but are especially relevant to African-American, Latino, and Native American young people.</p>
        <p>bishara@hexagon-stem.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>






{% endblock %}