{% extends "base.html" %}
{% load static %}
<h1>About page</h1>
{% block content %}

<!-- Top Navigation Menu -->
    <div class="topnav2">
      <a href="{% url 'index' %}" class="active">HBCU4U</a>
      <div id="myLinks">
        <a href="{% url 'list_hbcus' %}">All HBCUs</a>
        <a href="{% url 'filter' %}"> Old Filter</a>
        <!-- <a href="{% url 'hbcugrads' %}"> Graduates</a> -->
        <a href="{% url 'map' %}">Map</a>
        <!-- <a href="{% url 'signup' %}">Sign up</a> -->
        <a href="{% url 'filterB' %}">Filter</a>
        <a href="{% url 'about' %}">About Us</a>
      </div>
      <a href="javascript:void(0);" class="icon2" onclick="hiddenMenu()">
      <i class="fa fa-bars"></i>
      </a>
    </div>




<!-- <div class="about-section">
  <h1>About Us Page</h1>
  <p>The HBCU into future app was created as a one-stop location to inform youth, parents, and 
school counselors about the benefits of attending a Historically Black College or University
.</p> <br>Explore, Expand, and Experience.<br>

  
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="{% static "Nichole_photo.png" %}" alt="Nichole" style="width:100%"/>
      <div class="container">
        <h2>Nichole Ross</h2>
        <p class="title">Software Developer</p>
        <p>Hello, I am Nichole! As an educational consultant, I considered pedagogy and strategies to create curriculum and ensure my sites and projects were user friendly. With a background in mathematics and education, I am excited to use the skills I learned from Momentum@Morehouse to transition to a software developer role. I enjoy building websites, applications, and pulling big data to create data visualization.I am looking forward to using my experience, knowledge, and coding abilities as a software developer!
          <a href="https://morehouse1.momentumlearn.com/graduates/nichole-ross/">Learn More about Nichole</a> 
        </p>
        <p><input type="submit" class='button' value="Contact" onclick="window.location.href='mailto:thisnicholematters@gmail.com'"></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{% static "Bishara_photo.jpg" %}" alt="Bishara" style="width:100%"/>
      <div class="container">
        <h2>Bishara Abdul-Hamid</h2>
        <p class="title">Software Developer</p>
        <p>I decided to pursue software development and enroll in Momentum@Morehouse because my interests are in determining what resources of engagement are available and how we can address culture, within a technological context, in a new and fresh way. In addition, I was inspired to enroll in Momentum@Morehouse coding bootcamp and continuing technology education program as it closely networks my abilities to use creativity and an interdisciplinary approach to the art and science of software development. My experiences in the Global Information Technology sector have taught me that critical-thinking skills are essential attributes of twenty-first-century global citizens. These skills are crucial in all communities but are especially relevant to African-American, Latino, and Native American young people.</p>
        <a href="https://morehouse1.momentumlearn.com/graduates/bishara-abdul-hamid/">Learn More about Bishara</a> 
        <p><input type="submit" class='button' value="Contact" onclick="window.location.href='mailto:bishara@hexagon-stem.com'"></p>
        
      </div>
    </div>
  </div>
  </div> -->

<div class="ui special cards">
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button">Add Friend</div>
          </div>
        </div>
      </div>
      <img src="{% static "Nichole_photo.png" %}" alt="Nichole" style="width:20%"/>
    </div>
    <div class="content">
      <a class="header">Team HBCU</a>
      <div class="meta">
        <span class="date">Created in Sep 2014</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        2 Members
      </a>
    </div>
  </div>
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui inverted dimmer">
        <div class="content">
          <div class="center">
            <div class="ui primary button">Add Friend</div>
          </div>
        </div>
      </div>
      <img src="{% static "Bishara_photo.jpg" %}" alt="Bishara" style="width:20%"/>
    </div>
    <div class="content">
      <a class="header">Team Hess</a>
      <div class="meta">
        <span class="date">Created in Aug 2014</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        2 Members
      </a>
    </div>
  </div>
</div>




{% endblock %}