{% extends "base.html" %}

{% block content %}
<body>

<header>
      <div class="topnav2">
      <a href="{% url 'index' %}" class="active">HBCU4U</a>
      <div id="myLinks">
       <a href="{% url 'list_hbcus' %}">All HBCUs</a>
       <a href="{% url 'filter' %}">Filter</a>
       <a href="{% url 'hbcugrads' %}"> Graduates</a>
       <a href="{% url 'signup' %}">Sign up</a>
      </div>
     <a href="javascript:void(0);" class="icon2" onclick="hiddenMenu()">
     <i class="fa fa-bars"></i>
     </a>
    </div>

</header>

<h1>Add New HBCU Graduate</h1>

<center><div>
  <form action="{% url 'add_grad' %}" class="formbox" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <div >
      <button type="submit">Add Graduate</button>
    </div>
  </form>
  <a class="add" href="{% url 'hbcugrads' %}">return to All HBCU Graduates</a>
</div></center>

</body>
{% endblock %}
