{% extends "base.html" %}
{% load static %}

<title> Discover HBCUs </title>

{% block content %}

  <div class="topnav2">
      <a href="{% url 'index' %}" class="active">HBCU4U</a>
      <div id="myLinks">
        <a href="{% url 'list_hbcus' %}">All HBCUs</a>
        <a href="{% url 'signup' %}">About Me</a>
        <a href="{% url 'filterB' %}">Filter</a>
        <a href="{% url 'map' %}">Map</a>
      </div>
      <a href="javascript:void(0);" class="icon2" onclick="hiddenMenu()">
      <i class="fa fa-bars"></i>
      </a>
  </div>

<h1> Historically Black </h1>
<h1> Colleges and Universities  </h1>
<h3 class="filterA"> Filter </h3>

<header>
  <!-- <div class="topnav">
      <div class="search-container">
          <input id="searchbar" onkeyup="search_major()" type="text" name="search" placeholder="--Find A Major--"/> 
          <input id="searchbar2" onkeyup="search_financial_aid()" type="text" name="search" placeholder="--Find A Financial Aid--"/> 
          <button type="submit"><i class="fa fa-search"></i></button>
        
      </div>
  </div> -->
</header>

<div class="everything">
  <br>
          {% for college in colleges %}
 
          <div class="flex location majors financial_aid virtual_tour">
          
          <div style="display:none" class="location majors financial_aid virtual_tour" > <img class="list" src="{{ college.logo }}" height='150' width='150'></div>
          <div style="display:none"  class="subtitle location cname"> {{ college.name }} </div>
          <div style="display:none"  class="subtitle location">{{ college.city }} , {{ college.state }}</div>
          <div style="display:none" class="majors" > {{ college.major }} </div>
          <div style="display:none" class="financial_aid" > {{ college.financial_aid }} </div>
          <div style="display:none" class="virtual_tour" > {{ college.virtual_tour }} </div>

          </div>

          <br>
          {% endfor %}

<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>


</div>
{% endblock %}