{% extends "base.html" %}
{% load static %}

<title> Discover HBCUs </title>

{% block content %}

<div class="topnav2">
      <a href="{% url 'index' %}" class="active">HBCU4U</a>
      <div id="myLinks">
       <a href="{% url 'list_hbcus' %}">All HBCUs</a>
       <a href="{% url 'filter' %}">Filter</a>
       <!-- <a href="{% url 'hbcugrads' %}"> Graduates</a> -->
       <a href="{% url 'map' %}">Map</a>
      </div>
     <a href="javascript:void(0);" class="icon2" onclick="hiddenMenu()">
     <i class="fa fa-bars"></i>
     </a>
    </div>

<h1> Historically Black </h1>
<h1> Colleges and Universities  </h1>
<h3 class="filterA"> Filter </h3>

<header>

<div class="topnav">
 
    <div class="search-container">

        <input id="searchbar" onkeyup="search_major()" type="text" name="search" placeholder="--Find A Major--"/> 

        <input id="searchbar2" onkeyup="search_financial_aid()" type="text" name="search" placeholder="--Find A Financial Aid--"/> 


        <button type="submit"><i class="fa fa-search"></i></button>
      
  </div>
</div>
</header>

<div class="everything">
  <br>
          {% for college in colleges %}
 
    
          <div class="flex location majors financial_aid virtual_tour">
          
          <div style="display:none" class="location majors financial_aid virtual_tour" > <img class="list" src="{{ college.logo }}" height='150' width='150'></div>
          <div style="display:none"  class="subtitle location cname"> {{ college.name }} </div>


          <div style="display:none"  class="subtitle location">{{ college.city }} , {{ college.state }}</div>
          <div style="display:none" class="majors" > {{ college.major }} </div>
          <div style="display:none" class="financial_aid" > {{ college.financial_aid }} </div>
          <div style="display:none" class="virtual_tour" > {{ college.virtual_tour }} </div>

          </div>

          <br>
          {% endfor %}

<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>


<!-- New Filter -->

<!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="#">Bootstrap</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">React</a>
              </li>
            </ul>
        </div>
    </nav> -->

    <main role="main" class="container">

      <h3>Filter Colleges</h3>
      <form method="GET" action=".">
        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="title_contains" placeholder="Title contains..." />
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                </div>
            </div>        
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="id_exact" placeholder="ID exact..." />
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                </div>
            </div>        
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="title_or_author" placeholder="Title or author..." />
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                </div>
            </div>        
        </div>
        <div class="form-row">
          <div class="form-group col-md-2 col-lg-2">
            <label for="viewCountMin">Minimum View Count</label>
            <input type="number" min=0 class="form-control" id="viewCountMin" placeholder="0" name="view_count_min">
          </div>
          <div class="form-group col-md-2 col-lg-2">
            <label for="viewCountMax">Maximum View Count</label>
            <input type="number" min=0 class="form-control" id="viewCountMax" placeholder="10000?" name="view_count_max">
          </div>
          <div class="form-group col-md-2 col-lg-2">
            <label for="publishDateMin">Publish date minimum</label>
            <input type="date" class="form-control" id="publishDateMin" name="date_min">
          </div>
          <div class="form-group col-md-2 col-lg-2">
            <label for="publishDateMax">Publish date maximum</label>
            <input type="date" class="form-control" id="publishDateMax" name="date_max">
          </div>
          <div class="form-group col-md-4">
            <label for="category">Category</label>
            <select id="category" class="form-control" name="category">
              <option selected>Choose...</option>
              {% for cat in categories %}
              <option value="{{ cat }}">{{ cat }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="reviewed" name="reviewed">
            <label class="form-check-label" for="reviewed">
              Reviewed
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="notReviewed" name="notReviewed">
            <label class="form-check-label" for="notReviewed">
              Not reviewed
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>

      <hr />

      <div class="row">
        <ul>
          {% for journal in queryset %}
            <li>
              {{ journal.title }}
              <span>Author: {{ journal.author.name }}</span>
              <span>
                {% for cat in journal.categories.all %}
                  {{ cat }}
                {% endfor %}
              </span>
              <span>Publish date: {{ journal.publish_date }}</span>
              <span>View count: {{ journal.views }}</span>
              <span>Reviewed: {{ journal.reviewed }}</span>
            </li>
            <hr />
          {% endfor %}
        </ul>
      </div>
      
</div>

{% endblock %}