{% extends "base.html" %}
{% load static %}

<title> Discover HBCUs </title>

{% block content %}
  <div class="topnav2">
      <a href="{% url 'index' %}" class="active">HBCU4U</a>
      <div id="myLinks">
        <a href="{% url 'list_hbcus' %}">All HBCUs</a>
        <a href="{% url 'signup' %}">About Me</a>
        <a href="{% url 'filterB' %}">Filter</a>
        <a href="{% url 'map' %}">Map</a>
      </div>
      <a href="javascript:void(0);" class="icon2" onclick="hiddenMenu()">
      <i class="fa fa-bars"></i>
      </a>
  </div>

<h1> List of HBCU Graduates  </h1>
<button><a class="schoolanchor graduates" href="{% url 'add_grad' %}"><center>Add New Grad</center></a>
</button>

<!-- <header>
<div class="topnav">
    <a class="active" href="{% url 'index' %}">Home</a>
    <a href="{% url 'map' %}">Map</a>
    <div class="search-container">
      <!-- <form action="/hbcu/filter.html"> -->
        <!-- <input type="text" placeholder="--Find A Major--"> -->
        <!--<input id="searchbar" onkeyup="search_major()" type="text" name="search" placeholder="--School--"/> 
        
        <button type="submit"><i class="fa fa-search"></i></button>
      <!-- </form> -->
    <!--</div>
</div>
</header> -->

<div class="everything">
  <br>
          {% for graduate in graduates %}
          <br>

          <article class="mw5 center bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
              <div class="tc">
               
                <img src="{{ graduate.image }}" class="br-100 h3 w4 dib" title="{{ graduate.name }}">
                <h2>{{ graduate.name }} </h2>
                <hr class="mw3 bb bw1 b--black-10">
                {{ graduate.career }}
                <hr>
                <h1 class="f4"> {{ graduate.school }} </h1>
                {{ graduate.date_born }} - {{ graduate.date_died }}
              </div>
              <div class="sidebar-box">
              <p class="lh-copy measure center f6 black-70 extraText button">
                <span id="cont"></span>
                <span id="more">{{ graduate.history }}</span> 
              </p>
              <button onclick="readMore()" id="newBtn">Read more</button>
              </div>
          </article>
          <!-- <img class="list" src="" height='150' width='150'> -->
        
          <br>
          {% endfor %}

<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
</div>

{% endblock %}