{% extends "base.html" %} {% load static %} {% block content %}

<style>
	body {
		margin: 0;
		padding: 0;
	}

	#map {
		position: absolute;
		top: 25%;
		bottom: 10%;
		left: 5%;
		right: 5%;
		width: 90%;
		border: 3px solid #DA9021,
	}

	.marker {
		background-image: url("https://i3.cpcache.com/merchandise/50_550x550_Front_Color-White.jpg?Size=3x5&AttributeValue=NA&c=True&OrientationNo=1&region={%22name%22:%22FrontCenter%22,%22width%22:2.693385,%22height%22:3.5,%22alignment%22:%22MiddleCenter%22,%22orientation%22:1,%22dpi%22:200,%22crop_x%22:0,%22crop_y%22:0,%22crop_h%22:800,%22crop_w%22:600,%22scale%22:0,%22template%22:{%22id%22:100959992,%22params%22:{}}}");
		background-size: cover;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		cursor: pointer;
	}

	.mapboxgl-popup {
		max-width: 200px;
	}

	.mapboxgl-popup-content {
		text-align: center;
		font-family: 'Open Sans', sans-serif;
	}
</style>

<div class="topnav2">
	<a href="{% url 'index' %}" class="active">HBCU4U</a>
	<div id="myLinks">
		<a href="{% url 'list_hbcus' %}">All HBCUs</a>
		<a href="{% url 'filter' %}">Filter</a>
		<!-- <a href="{% url 'hbcugrads' %}"> Graduates</a> -->
		<a href="{% url 'map' %}">Map</a>
		<a href="{% url 'about' %}">About Us</a>
	</div>
	<a href="javascript:void(0);" class="icon2" onclick="hiddenMenu()">
		<i class="fa fa-bars"></i>
     </a>
</div>

<h1> Historically Black Colleges and Universities  </h1>
<h1> US Map </h1>

	<div id='map'></div>

	<script>
		mapboxgl.accessToken = 'pk.eyJ1IjoiaGV4YWdvbnN0ZW0yMDIwIiwiYSI6ImNrZGwzMDB2MzB1czYycnA5a3MzYmR0Z3QifQ.muYB_fdEM1IkFZT3Fw6N5w';
      let map = new mapboxgl.Map({
       container: 'map',
       style: 'mapbox://styles/mapbox/light-v10',

       center: [-96, 37.8],
      zoom: 4
});

     let geojson = {
     type: 'FeatureCollection',
     features: [{
       type: 'Feature',
       geometry: {
       type: 'Point',
       coordinates: [-86.568539, 34.782913]
    },
      properties: {
      title: 'HBCU',
      description: ' Alabama A & M University '
    }
  },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-86.294050, 32.363612]
    },
    properties: {
      title: 'HBCU',
      description: 'Alabama State University'
    }
    },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-84.140389, 31.569147]
    },
    properties: {
      title: 'HBCU',
      description: 'Albany State University'
    }
    },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-91.137260, 31.874213]
    },
    properties: {
      title: 'HBCU',
      description: 'Alcorn State University'
    }
    },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-81.020236, 34.011010]
    },
    properties: {
      title: 'HBCU',
      description: 'Allen University'
    }
    },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-92.290517, 34.735141]
    },
    properties: {
      title: 'HBCU',
      description: 'Arkansas Baptist College'
    }
    },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-81.020397, 34.012831]
    },
    properties: {
      title: 'HBCU',
      description: 'Benedict College'
    }
    },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-79.779087, 36.067941]
    },
    properties: {
      title: 'HBCU',
      description: 'Bennett College for Women'
    }
    },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-81.031746, 29.211022]
    },
    properties: {
      title: 'HBCU',
      description: 'Bethune-Cookman University'
    }
    },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-88.055727, 30.696231]
    },
    properties: {
      title: 'HBCU',
      description: 'Bishop State Community College'
    }
    },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-81.237553, 37.267231]
    },
    properties: {
      title: 'HBCU',
      description: 'Bluefield State College'
    }
    },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-76.759521, 39.0193]
    },
    properties: {
      title: 'HBCU',
      description: 'Bowie State University'
    }
    },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-83.877293, 39.715245]
    },
    properties: {
      title: 'HBCU',
      description: 'Central State University'
    }
    },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-75.529349, 39.933336]
    },
    properties: {
      title: 'HBCU',
      description: 'Cheyney University of Pennsylvania'
    }
    },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-80.854168, 33.499093]
    },
    properties: {
      title: 'HBCU',
      description: 'Claflin University'
    }
    },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-84.41135, 33.751655]
    },
    properties: {
      title: 'HBCU',
      description: 'Clark Atlanta University'
    }
    },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-81.043139, 34.913494]
    },
    properties: {
      title: 'HBCU',
      description: 'Clinton Junior College'
    }
    },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-90.56886, 34.253493]
    },
    properties: {
      title: 'HBCU',
      description: 'Coahoma Community College'
    }
    },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-87.017772, 32.425726]
    },
    properties: {
      title: 'HBCU',
      description: 'Concordia College-Selma'
    }
    },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-76.65774, 39.31256]
    },
    properties: {
      title: 'HBCU',
      description: 'Coppin State University'
    }
    },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-75.542295, 39.186204]
    },
    properties: {
      title: 'HBCU',
      description: 'Delaware State University'
    }
    },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-81.12574, 33.311863]
    },
    properties: {
      title: 'HBCU',
      description: 'Denmark Technical College'
    }
    },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-90.066309, 29.996639]
    },
    properties: {
      title: 'HBCU',
      description: 'Dillard University'
    }
    },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-81.683646, 30.343868]
    },
    properties: {
      title: 'HBCU',
      description: 'Edward Waters College'
    }
    },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-76.21411, 36.281169]
    },
    properties: {
      title: 'HBCU',
      description: 'Elizabeth City State University'
    }
    },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-78.892618, 35.074291]
    },
    properties: {
      title: 'HBCU',
      description: 'Fayetteville State University'
    }
    },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-86.803725, 36.167358]
    },
    properties: {
      title: 'HBCU',
      description: 'Fisk University'
    }
    },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-84.285056, 30.42682]
    },
    properties: {
      title: 'HBCU',
      description: 'Florida Agricultural and Mechanical University'
    }
    },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [ -80.270796, 25.917822]
    },
    properties: {
      title: 'HBCU',
      description: 'Florida Memorial University'
    }
    },
  {
    type: 'Feature',
    geometry: {
       type: 'Point',
      coordinates: [-83.898039, 32.536373]
    },
    properties: {
      title: 'HBCU',
      description: 'Fort Valley State University'
    }
    },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
       coordinates: [-85.991377, 33.995681]
},
properties: {
title: 'HBCU',
description: 'Gadsden State Community College'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-92.718842, 32.520788]
},
properties: {
title: 'HBCU',
description: 'Grambling State University'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-86.342826, 32.350255]
},
properties: {
title: 'HBCU',
description: 'H Councill Trenholm State Technical College'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-76.334253, 37.022788]
},
properties: {
title: 'HBCU',
description: 'Hampton University'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-76.334253, 37.022788]
},
properties: {
title: 'HBCU',
description: 'Hampton University'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-90.224919, 38.631932]
},
properties: {
title: 'HBCU',
description: 'Harris-Stowe State University'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-77.019556, 38.922676]
},
properties: {
title: 'HBCU',
description: 'Howard University'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-97.722289, 30.264644]
},
properties: {
title: 'HBCU',
description: 'Huston-Tillotson University'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-84.409383, 33.754282]
},
properties: {
title: 'HBCU',
description: 'Interdenominational Theological Center'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-86.573412, 34.771925]
},
properties: {
title: 'HBCU',
description: 'J F Drake State Technical College'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-90.206382, 32.296949]
},
properties: {
title: 'HBCU',
description: 'Jackson State University'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-95.179987, 32.589219]
},
properties: {
title: 'HBCU',
description: 'Jarvis Christian College'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-80.855708, 35.243560]
},
properties: {
title: 'HBCU',
description: 'Johnson C Smith University'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-84.855812, 38.200350]
},
properties: {
title: 'HBCU',
description: 'Kentucky State University'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-88.806081, 35.627714]
},
properties: {
title: 'HBCU',
description: 'Lane College'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-97.262821, 35.945927]
},
properties: {
title: 'HBCU',
description: 'Langston University'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-86.889135, 33.450813]
},
properties: {
title: 'HBCU',
description: 'Lawson State Community College-Birmingham Campus'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-90.034428, 35.118267]
},
properties: {
title: 'HBCU',
description: 'Le Moyne-Owen College'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-92.144570, 38.893805]
},
properties: {
title: 'HBCU',
description: 'Lincoln University'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-75.928443, 39.807069]
},
properties: {
title: 'HBCU',
description: 'Lincoln University of Pennsylvania'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-80.484694, 35.671517]
},
properties: {
title: 'HBCU',
description: 'Livingstone College'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-86.807628, 36.166823]
},
properties: {
title: 'HBCU',
description: 'Meharry Medical College'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-86.908823, 33.481018]
},
properties: {
title: 'HBCU',
description: 'Miles College'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-90.341865, 33.512680]
},
properties: {
title: 'HBCU',
description: 'Mississippi Valley State University'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-84.415421, 33.747297]
},
properties: {
title: 'HBCU',
description: 'Morehouse College'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-84.411894, 33.743042]
},
properties: {
title: 'HBCU',
description: 'Morehouse School of Medicine'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-76.584492, 39.343796]
},
properties: {
title: 'HBCU',
description: 'Morgan State University'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-80.347046, 33.938147]
},
properties: {
title: 'HBCU',
description: 'Morris College'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-76.261935, 36.848033]
},
properties: {
title: 'HBCU',
description: 'Norfolk State University'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-79.771448, 36.077119]
},
properties: {
title: 'HBCU',
description: 'North Carolina A & T State University'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-78.899557, 35.975197]
},
properties: {
title: 'HBCU',
description: 'North Carolina Central University'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-86.655749, 34.751877]
},
properties: {
title: 'HBCU',
description: 'Oakwood University'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-81.993447, 33.469546]
},
properties: {
title: 'HBCU',
description: 'Paine College'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-96.755956, 32.680537]
},
properties: {
title: 'HBCU',
description: 'Paul Quinn College'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-92.282980, 34.737211]
},
properties: {
title: 'HBCU',
description: 'Philander Smith College'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-95.990079, 30.093917]
},
properties: {
title: 'HBCU',
description: 'Prairie View A & M University'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-89.447643, 34.776460]
},
properties: {
title: 'HBCU',
description: 'Rust College'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-78.618705, 35.787792]
},
properties: {
title: 'HBCU',
description: 'Saint Augustines College'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-77.847525, 36.759602]
},
properties: {
title: 'HBCU',
description: 'Saint Pauls College'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-81.062925, 32.023406]
},
properties: {
title: 'HBCU',
description: 'Savannah State University'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-87.034878, 32.420654]
},
properties: {
title: 'HBCU',
description: 'Selma University'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-78.638023, 35.771200]
},
properties: {
title: 'HBCU',
description: 'Shaw University'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-87.561335, 33.120750]
},
properties: {
title: 'HBCU',
description: 'Shelton State Community College'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-80.850192, 33.498577]
},
properties: {
title: 'HBCU',
description: 'South Carolina State University'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-91.192844, 30.526698]
},
properties: {
title: 'HBCU',
description: 'Southern University and A & M College'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-90.044852, 30.025913]
},
properties: {
title: 'HBCU',
description: 'Southern University at New Orleans'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-93.834575, 32.544411]
},
properties: {
title: 'HBCU',
description: 'Southern University at Shreveport'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-96.285597, 32.735360]
},
properties: {
title: 'HBCU',
description: 'Southwestern Christian College'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-96.285597, 32.735360]
},
properties: {
title: 'HBCU',
description: 'Southwestern Christian College'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-84.412208, 33.746394]
},
properties: {
title: 'HBCU',
description: 'Spelman College'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-98.454768, 29.414296]
},
properties: {
title: 'HBCU',
description: 'St Philips College'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-87.586158, 33.198184]
},
properties: {
title: 'HBCU',
description: 'Stillman College'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-86.113690, 33.432680]
},
properties: {
title: 'HBCU',
description: 'Talladega College'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-86.821136, 36.167318]
},
properties: {
title: 'HBCU',
description: 'Tennessee State University'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-95.312365, 32.374602]
},
properties: {
title: 'HBCU',
description: 'Texas College'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-95.359269, 29.721403]
},
properties: {
title: 'HBCU',
description: 'Texas Southern University'
}
},
{
type: 'Feature',
geometry: {
type: 'Point',
coordinates: [-90.160738, 32.404768]
},
properties: {
title: 'HBCU',
description: 'Tougaloo College'
}
  }]
}; 


// add markers to map
geojson.features.forEach(function(marker) {

// create a HTML element for each feature
  let el = document.createElement('div');
  el.className = 'marker';

  // make a marker for each feature and add to the map
  new mapboxgl.Marker(el)
  .setLngLat(marker.geometry.coordinates)
  .setPopup(new mapboxgl.Popup({ offset: 25 }) 
  
  // add popups
    .setHTML('<h3>' + marker.properties.title + '</h3><p>' + marker.properties.description + '</p>'))
  .addTo(map);
});


	</script>



{% endblock %}