{% extends 'base.html' %} 
<title> HBCU Details </title>
{% load static %}

{% block content %}
  <div class="topnav2">
      <a href="{% url 'index' %}" class="active">HBCU4U</a>
      <div id="myLinks">
        <a href="{% url 'list_hbcus' %}">All HBCUs</a>
        <a href="{% url 'signup' %}">About Me</a>
        <a href="{% url 'filterB' %}">Filter</a>
        <a href="{% url 'map' %}">Map</a>
      </div>
      <a href="javascript:void(0);" class="icon2" onclick="hiddenMenu()">
      <i class="fa fa-bars"></i>
      </a>
  </div>

<h2 class="cname"> {{ colleges.name }} </h1>


  <!-- <div class="detail"> -->
      <img class="image" src="{{ colleges.campus_image }}" height='40%' width:='60%'>

      <h3 class="detail_page"> HISTORY <h3>
           
      <div>
      <h3 class="detail_page">{{ colleges.history }} </h3>
      </p>
      <h3 class="detail_page"> Located in: {{ colleges.city }}, {{ colleges.state }}</h3>
      </div>
<br>
    
  <!-- FINANCIAL AID  -->
  <hr>      
        
        <h3 class="detail_page" style=> <h3>
        <div class="subtitleB" style="color:green"> 
          SCHOLARSHIPS 
          <br>
        <h3 class="detail_page"> </h3>
          {{ colleges.financial_aid }}
        </div>
<!-- MAJORS -->
  <hr>    
        <center><h1 class="subtitleB"> </h1></center>
        <div class="subtitleB" style="color:red"> 
          MAJORS 
        <h3 class="detail_page"> </h3>
          {{ colleges.name }} offers the following majors: {{ colleges.majors }} 
        </div>
  <hr>
  <!-- VIRTUAL TOUR -->
        <div class="subtitleB" style="color:darkyellow"> 
          <center>Check out the Virtual Tour:</center>
        </div>
        <br>
        <center><button><a class="homeFilter" href="{{ colleges.virtual_tour }}">Here</a></button></center>
  

  <!-- <footer> <img class="detail_logo" src="{{ colleges.logo }}" width:'50px'height='50px'>
  </footer> -->




<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

{% endblock %}



