{% extends "base.html" %}
{% load static %}
<title>HBCU 4 U</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<script src="css/bootstrap-theme.min.css"></script>
{% block content %}

<!-- <script src="{% static 'js/schools.js' %}" type="module"></script>
<script src="{% static 'js/main.js' %}" type='module' defer></script> -->

<h1> Discover the HBCU 4 U</h1>
<a class="filter" href="{% url 'filter' %}">List Colleges</a>

<a class="filter" href="hbcu/templates/hbcu/hbcugrads.html">|  HBCU Graduates</a>

<div class="main">
 

  <section class="intro">

    <p> <span class="first-letter"></span> 
    The HBCU 4 U app was created as a one stop location to inform youth, parents, counselor about the benefits of attending a Historically Black College or University.</p>

    <p><span class="first-letter"></span> 
    Within this app you can us the <a href="hbcu/filter.html">filter</a> to find important admission information, technology offered, financial aid information and so much more!</p>

  </section>
  <br>

<!-- Container for the image gallery -->
  <div class="container">
     <div class="row">
       <div class="col-sm-12">
<!-- the classes link it to bootstrap. data-ride tells the slides to start moving when the page opens -->
         <div id="my-slider" class="carousel slide" data-ride="carousel"> 
<!-- indicators dot nav -->


<!-- wrapper for slides -->
        <div class="carousel-inner" role="listbox">
    <!-- active should only be on the first slide; it will always start on that slide -->
          <div class="item active">
            <img src="https://www.pngfind.com/pngs/m/87-877394_al-ag-mech-univ-logo-alabama-a-m.png" alt="Alabama A&M University"/>
          <div class="carousel-caption">
            <h1>Alabama A&M University<h1>

  </div>

</div>

<!-- left and right buttons called: control next and prev buttons -->


      </div>


    </div>  
  </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

{% endblock %}