<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>HBCU4U Map</title>
</head>

<body>







	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	
  <link href="interactive-map.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
	</script>
	<script src="interactive-map.js">
	</script>


	<div class="container">
		<div class="row ct-u-padding-bottom-40">

			<div class="col-lg-6 col-lg-push-6 col-md-7 col-md-push-5">

				<div class="ct-map">
					<img alt="Map" class="ct-map__image" src="image/HBCU4U_MAP.png" >

        <div class="ct-city stone" >
         <button class="ct-city__button" type="button" tabindex="0" ><img alt="Map Open Icon" class="ct-plus" src="https://www.solodev.com/assets/map/map-plus.png"  data-pin-nopin="true"><img alt="Map Close Icon" class="ct-close" src="https://www.solodev.com/assets/map/map-close.png" data-pin-nopin="true" ><span class="ct-city__name" >Alabama A &amp; M University</span></button>
          <div class="ct-popup" >
            <div class="inner" >
              <span class="ct-popup__name" >Alabama A &amp; M University</span>
              <p class="ct-popup__content" >Alabama A &amp; M Universitys<br />4900 Meridian Street N Huntsville,  Alabama  35811-7500</p>

<!-- <div id="image_map"> 
<map name="map_hbcu"> 

<area href="http://www.aamu.edu/" alt="Alabama A &amp; M University" target="_blank" shape=poly coords="30,100, 140,50, 290,220, 180,280">

<area href="https://en.wikipedia.org/wiki/Social_media" target="_blank" alt="Wikipedia Social Media Article" shape=poly coords="190,75, 200,60, 495,60, 495,165, 275,165"> </map>

 </map>

  <img src="image/HBCU4U_MAP.png" alt="image map hbcu" width=500 height=332 usemap="#map_hbcu"> -->
  




            </div>
          </div>
        </div>
        <div class="ct-city orlando">
          <button class="ct-city__button" type="button" tabindex="0" ><img alt="Map Open Icon" class="ct-plus" src="https://www.solodev.com/assets/map/map-plus.png"  data-pin-nopin="true"><img alt="Map Close Icon" class="ct-close" src="https://www.solodev.com/assets/map/map-close.png"  data-pin-nopin="true"><span class="ct-city__name" >Alabama State University</span></button>
          <div class="ct-popup" >
            <div class="inner" >
              <span class="ct-popup__name" >Alabama State University</span>
              <p class="ct-popup__content" >Alabama State University</p>
            </div>
          </div>
        </div>
        <div class="ct-city orlando2" >
        <button class="ct-city__button" type="button" tabindex="0" ><img alt="Map Open Icon" class="ct-plus" src="https://www.solodev.com/assets/map/map-plus.png"  data-pin-nopin="true"><img alt="Map Close Icon" class="ct-close" src="https://www.solodev.com/assets/map/map-close.png" ><span class="ct-city__name" >Albany State University</span></button>
        <div class="ct-popup" >
          <div class="inner" >
            <span class="ct-popup__name" >Albany State University</span>
            <p class="ct-popup__content" >Albany State University<br />504 College Dr, Albany, GA 31705</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-lg-pull-6 col-md-5 col-md-pull-7" >
    <div class="ct-content" >
      <h2 class="ct-section-header text-left" >Discover the HBCU 4U<small >The HBCU 4U app was created</small></h2>
      <br >
      <ul class="list-unstyled" >
        <li >As a one stop location to inform
         </li>
        <li >Youth, parents, counselor about
         </li>
        <li >The benefits of attending a
         </li>
        <li >Historically Black College or University.
         </li>
        <li >Within this app you can us the
         </li>
        <li >Filter button to find important admission information,</li> 
        <li >technology offered, financial aid information and so much more!
         </li>
      </ul>
      <a class="btn btn-motive" href="#" tabindex="0" >Filter</a>
      </div>
    </div>
  </div>
</div>


    <script src="script.js"></script>
  </body>
</html>